{% extends '@Grr/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Les domaines</h3>
        <div class="card-body">
            {% include '@Grr/default/_area_list.html.twig' %}
        </div>
    </div>
{% endblock %}

