{% extends '@Grr/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ area.areaName }}</h3>
        <div class="card-body">
            {{ dump(area) }}
        </div>
    </div>
{% endblock %}

